@charset "UTF-8";

/* @font-face {
  font-family: 'Cafe24Surround';
  src: url('../font/Cafe24Ssurround-v2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
	font-family: 'TMONEYROUNDWINDEXTRABOLD';
	src: url('../assets/font/TMONEYROUNDWINDEXTRABOLD.TTF') format('woff');
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: 'TMONEYROUNDWINDREGULAR';
	src: url('../assets/font/TMONEYROUNDWINDREGULAR.TTF') format('woff');
	font-weight: normal;
	font-display: swap;
}

@font-face {
  font-family: 'Eommakkaturi';
  src: url('../assets/font/Katuri.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}